.chart {
  font-size: smaller;
  &__axis {
    path, line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    &--x {
      path {
        // display: none;
      }
    }

    &--y {

    }
  }

  &__line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
}
